body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u3076 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:115px;
  width:167px;
  height:29px;
  display:flex;
  font-size:25px;
}
#u3076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3076_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3077 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:152px;
  width:118px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3077 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3077_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3078 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:181px;
  width:118px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3078_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:45px;
}
#u3079 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:54px;
  width:173px;
  height:61px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:45px;
}
#u3079 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3079_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
