body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:45px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:107px;
  width:128px;
  height:52px;
  display:flex;
  font-size:45px;
}
#u191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:182px;
  width:67px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
